{% load static %}
<section id="about" class="about section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
            <div class="row ">
                <div class="col-md-6">
                    <div class="col-lg-6"
                         style="    margin-left: 120px; margin-top: 50px; max-width: 200%;">
                        <img src="{% static 'assets/img/external_image/selfie.jpg' %}" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="margin-top: 40px; max-width: 100%; height: auto">
                        <ul>
                            <li><strong>Name:</strong> <h5>Surendrasingh Sodha</h5></li>
                            <br>
                            <li><strong>Profile:</strong> <h5>Software Developer</h5></li>
                            <br>
                            <li><strong>D.O.B:</strong> <h5>5 September 2001</h5></li>
                            <br>
                            <li><strong>Address:</strong> <h5>Dublin,Ireland</h5></li>
                            <br>
                            <li><strong>Email:</strong> <h5>Surendrasingh105105@gmail.com</h5></li>
                            <br>
                            <li><strong>Phone:</strong> <h5>(+91) 7600339475</h5><br>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="about-me">
                    <hr>
                    <hr>
                    <h4 style="margin-left: 500px">About me</h4>

                    <h5>My name is Surendrasingh Sodha, and I am a dedicated software developer with a strong foundation
                        in Django, Python, and various libraries such as Pandas and NumPy. Over the past years, I have
                        honed my skills in software development, particularly in client interaction and tailored
                        development solutions, during my tenure at Rewasoft Solutions Private Limited. In my role there,
                        I not only participated in client meetings but also took on the responsibility of developing
                        software that met their specific requirements.</h5><br>
                    <h5>I hold a Bachelor of Computer Applications (BCA) degree with a first-class distinction (7.9
                        CGPA)
                        and am currently pursuing a Msc in Computer Science at University College Dublin
                        (UCD). My academic journey has equipped me with a solid understanding of computer science
                        principles, and I am continually expanding my knowledge in the field.</h5><br>
                    <h5>My career aspiration is to become an engineer specializing in Machine Learning (ML) and
                        Artificial Intelligence (AI). I am passionate about these cutting-edge technologies and am eager
                        to contribute to advancements in this area.</h5><br>
                    <h5>Outside of my professional life, I have a variety of hobbies that keep me energized and
                        motivated. I enjoy playing football, traveling to new places, swimming, and listening to music.
                        These activities help me maintain a balanced lifestyle and provide me with fresh perspectives
                        that I often bring into my work.</h5><br>
                    <h5>My philosophy towards work is to always strive for excellence and give my best effort in
                        everything I do. I believe that through hard work, dedication, and a commitment to continuous
                        improvement, I can achieve my goals and make a meaningful impact in any organization I am a part
                        of.</h5>
                </div>
            </div>
        </div>

    </div>

</section><!-- /About Section -->



