{% load static %}
<section id="certificate" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Certificate</h2>
        <h5>These documents showcase my certifications and experience in Python, Django, Machine Learning, and
            professional development.</h5>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="{% static 'assets/img/external_image/certificate/NSDC Certificate.jpg' %}"
                         class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Python Certificate</h4>
                        <p>NSDC Certificate for completing the Certified Python Developer Course.</p>
                        <a href="{% static 'assets/img/external_image/certificate/NSDC Certificate.jpg' %}"
                           title="NDSC Certificate"
                           data-gallery="portfolio-gallery-app"
                           class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                    <img src="{% static 'assets/img/external_image/certificate/Training Certificate.jpg' %}"
                         class="img-fluid"
                         alt="">
                    <div class="portfolio-info">
                        <h4>Python Certificate</h4>
                        <p>Python Certificate Course from Tops Technologies.</p>
                        <a href="{% static 'assets/img/external_image/certificate/Training Certificate.jpg' %}"
                           title="Python Certificate"
                           data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->


                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                    <img src="{% static 'assets/img/external_image/certificate/Sodha_Surendrasingh_Ratansingh_machine_learning.jpg' %}"
                         class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Machine Learning Certificate</h4>
                        <p>Certification of Completion in Machine Learning with Python from Great Learning.</p>
                        <a href="{% static 'assets/img/external_image/certificate/Sodha_Surendrasingh_Ratansingh_machine_learning.jpg' %}"
                           title="Machine Learning Certificate"
                           data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->


                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                    <img src="{% static 'assets/img/external_image/certificate/Tops_exp_lttr.jpg' %}" class="img-fluid"
                         alt="">
                    <div class="portfolio-info">
                        <h4>Internship Certificate </h4>
                        <p>I completed a six-month internship at Tops Technologies, focusing on Python and Django.</p>
                        <a href="{% static 'assets/img/external_image/certificate/Tops_exp_lttr.jpg' %}"
                           title="Tops Internship Letter"
                           data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="{% static 'assets/img/external_image/certificate/Rewa Exp Letter.jpg' %}"
                         class="img-fluid"
                         alt="">
                    <div class="portfolio-info">
                        <h4>Experience Letter</h4>
                        <p>I have successfully completed one year of full-time employment at RewaSoft Solutions Private
                            Limited .</p>
                        <a href="{% static 'assets/img/external_image/certificate/Rewa Exp Letter.jpg' %}"
                           title="RewaSoft Solutions Private Limited"
                           data-gallery="portfolio-gallery-app"
                           class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                    <img src="{% static 'assets/img/external_image/certificate/Rewa_trainig_letter.jpg' %}"
                         class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4> RewaSoft Solutions Private Limited Joining Letter</h4>
                        <p> I had joined RewaSoft Solutions Private Limited as a Software Developer.</p>
                        <a href="{% static 'assets/img/external_image/certificate/Rewa_trainig_letter.jpg' %}"
                           title="RewaSoft Solutions Private  Limited Joining Letter"
                           data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->


            </div>
        </div>
    </div>
</section><!-- /Portfolio Section -->