<section id="contact" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
    </div><!-- End Section Title -->
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="info-wrap" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-5">
                <div class="col-lg-4">
                    <div class="info-item d-flex align-items-center">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Address</h3>
                            <p>Ahmedabad Gujrat</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-lg-4">
                    <div class="info-item d-flex align-items-center">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Phone</h3>
                            <p>+91 7600339475</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-lg-4">
                    <div class="info-item d-flex align-items-center">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email<br></h3>
                            <p>Surendrasingh105105@gmail.com</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->
            </div>
        </div>
        <form action="{% url 'myapp:contact' %}" method="POST" data-aos="fade-up"
              data-aos-delay="300">
            {% csrf_token %}
            <div class="row gy-4">
                <div class="col-md-6">
                    <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>
                <div class="col-md-6">
                    <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>
                <div class="col-md-6">
                    <input type="tel" class="form-control" name="phone" placeholder="Phone Number" required
                           pattern="\+?[0-9 ]*" inputmode="tel">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>
                <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message"
                          required></textarea>
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </div>
            </div>
        </form>

    </div>
</section>
