{% load static %}
<section id="image" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Images</h2>
        <h5>Exploring the world one adventure at a time, with each image reflecting the essence of my wanderlust.</h5>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item  position-relative">
                    <img src="{% static 'assets/img/external_image/img_4.jpeg' %}"
                         class="img-fluid" alt="">
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <img src="{% static 'assets/img/external_image/img_11.jpg' %}"
                         class="img-fluid" alt="">
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <img src="{% static 'assets/img/external_image/img_7.jpg' %}"
                         class="img-fluid" alt="">
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item position-relative">
                    <img src="{% static 'assets/img/external_image/img_10.jpg' %}"
                         class="img-fluid" alt="">
                </div>
            </div><!-- End Service Item -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item position-relative">
                    <img src="{% static 'assets/img/external_image/img_9.jpg' %}"
                         class="img-fluid" alt="">
                </div>
            </div><!-- End Service Item -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item position-relative">
                    <img src="{% static 'assets/img/external_image/img_5.jpeg' %}"
                         class="img-fluid" alt="">
                </div>
            </div><!-- End Service Item -->
           
        </div>
    </div>

</section><!-- /Services Section -->

<!-- Stats Section -->
