{% load static %}
<section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Images</h2>
        <h5>Exploring the world one adventure at a time, with each image reflecting the essence of my wanderlust.</h5>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="{% static 'assets/img/external_image/burj.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Burj Khalifa</h4>
                        <p>The Burj Khalifa is a skyscraper in Dubai, United Arab Emirates. It is the world's tallest
                            structure.</p>
                        <a href="{% static 'assets/img/external_image/image_burj.jpg' %}" title="Burj Khalifa"
                           data-gallery="portfolio-gallery-app"
                           class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                    <img src="{% static 'assets/img/external_image/dub_mus.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Jumeirah Mosque</h4>
                        <p>The Grand Mosque (Arabic: مسجد دبي الكبير) is a mosque in Dubai.</p>
                        <a href="{% static 'assets/img/external_image/dub_mus.jpg' %}" title="Jumeirah Mosque"
                           data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                    <img src="{% static 'assets/img/external_image/dub_jum.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Palm Jumeirah</h4>
                        <p>The Palm Jumeirah is an archipelago of artificial islands on the Persian Gulf in Jumeirah,
                            Dubai.</p>
                        <a href="{% static 'assets/img/external_image/dub_jum.jpg' %}" title="Palm Jumeirah"
                           data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                    <img src="{% static 'assets/img/external_image/ferrari_carr.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>FerrariWorld</h4>
                        <p>"Living the dream at Ferrari World with this beauty! 🏎️❤️ #FerrariWorld #DreamCar
                            #UnforgettableExperience"</p>
                        <a href="{% static 'assets/img/external_image/ferrari_car.jpg' %}" title="FerrariWorld"
                           data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="{% static 'assets/img/external_image/beeach.jpeg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>BeachLife</h4>
                        <p>Sun, sand, and serene vibes in Dwarka 🌞🌊 #BeachLife #DwarkaAdventures #ParadiseFound</p>
                        <a href="{% static 'assets/img/external_image/image_1.jpeg' %}" title="BeachLife"
                           data-gallery="portfolio-gallery-app"
                           class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                    <img src="{% static 'assets/img/external_image/beachh.jpeg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>The Beach at JBR</h4>
                        <p>Breathtaking views and endless blue at Dubai's stunning beaches 🌊🏖️ #DubaiDiaries
                            #BeachParadise #BestView</p>
                        <a href="{% static 'assets/img/external_image/beach.jpeg' %}" title="The Beach at JBR"
                           data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->
            </div><!-- End Portfolio Container -->
        </div>
    </div>
</section><!-- /Portfolio Section -->