<section id="resume" class="resume section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Resume</h2>
                {#                <p>surendrasingh10510@gmail.com | </p>#}
            </div><!-- End Section Title -->

            <div class="container">
                <div class="row">

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="resume-title">Sumary</h3>
                        <div class="resume-item pb-0">
                            <p><em>Experienced Software Developer with a demonstrated history of working in the computer
                                software industry.Proficient in Python, Django,
                                PostgreSQL, HTML5, and JavaScript, with expertise in Data Structures and Algorithms
                                (DSA).</em></p>
                        </div><!-- Edn Resume Item -->

                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h5>MSc Computer Science (Negotiated Learning)</h5>
                            <h5>2024 - 2025</h5>
                            <p><em>University College Dublin(UCD), Ireland</em></p>
                            <p>The MSc Computer Science (Negotiated Learning) is a uniquely flexible and innovative
                                programme. Module choices include several programming languages, cloud computing,
                                bioinformatics, data mining, machine learning and information visualisation.</p>
                        </div><!-- Edn Resume Item -->

                        <div class="resume-item">
                            <h5>Bachelor of Computer Applications - BCA</h5>
                            <h5>2020 - 2023</h5>
                            <p><em>KALOL INSTITUTE OF TECH. & RESEARCH CENTER ,KALOL • Gujarat</em></p>
                            <p>The curriculum covers diverse areas such as software development, database management,
                                web technologies, and algorithmic problem-solving</p>
                        </div><!-- Edn Resume Item -->
                        <div class="resume-item">
                            <h5>Higher Secondary School</h5>
                            <h5>2018 - 2019</h5>
                            <p><em>C.I.Patel English Medium School Kalol • Kalol, Gujarat</em></p>
                        </div><!-- Edn Resume Item -->

                        <h3 class="resume-title">Skills</h3>
                        <div class="resume-item">
                            <ul>
                                <li><strong>Programming: </strong>Python,JavaScript</li>
                                <li><strong>Developer Tools:</strong>PyCharm,VS Code</li>
                                <li><strong>Database: </strong>MySQL,PostgreSQL</li>
                                <li><strong>Technologies/Frameworks: </strong>Django,GitHub</li>
                                <li><strong>Package Management: </strong>Poetry</li>
                                <li><strong>General Skills: </strong>Data Structure,Algorithms,Problem Solving,Git</li>
                            </ul>

                        </div><!-- Edn Resume Item -->

                        <h3 class="resume-title">Certificates</h3>
                        <div class="resume-item">
                            <h5>Python Developer</h5>
                            TOPS Technologies Pvt. Ltd • 2022
                        </div><!-- Edn Resume Item -->


                        <h3 class="resume-title">Languages</h3>
                        <div class="resume-item">
                            <ul>
                                <li><strong>English: </strong>Excellent</li>
                                <li><strong>Hindi Tools:</strong>Excellent</li>
                                <li><strong>Gujarati: </strong>Intermediate</li>
                            </ul>

                        </div><!-- Edn Resume Item -->


                        <h3 class="resume-title">Hobbies</h3>
                        <div class="resume-item">
                            <ul>
                                <li><strong>Football: </strong></li>
                                <li><strong>Traveling:</strong></li>
                                <li><strong>Traveling: </strong></li>
                                <li><strong>Swimming: </strong></li>
                                <li><strong>Listening to Music: </strong></li>
                            </ul>

                        </div><!-- Edn Resume Item -->

                    </div>

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <h3 class="resume-title">Professional Experience</h3>
                        <div class="resume-item">
                            <h4><strong>Software Developer</strong></h4>
                            <h5>Rewasoft solutions private limited,Gujarat,India</h5>
                            <h5>July-2023 - June-2024</h5>
                            <ul>
                                <li>As a Python developer, I specialise in building dynamic web applications using
                                    Django, and I excel at implementing Class-Based Views,resulting in a more structured
                                    and maintainable project.
                                </li>

                                <li>Developed and maintained websites, effectively managing troubleshooting and bug
                                    resolution to optimize user experience.
                                </li>

                                <li>I collaborate effectively within a team and utilise a versatile tech stack,
                                    including Python, Django,JavaScript, Bootstrap, HTML,PostgreSQL, and more.
                                </li>

                                <li>I contribute to the project by managing request and response handling, crafting
                                    email notifications, and ensuring client satisfaction with my Django-related
                                    expertise.
                                </li>
                            </ul>
                        </div><!-- Edn Resume Item -->

                        <div class="resume-item">
                            <h4><strong>Pytho Developer</strong></h4>
                            <h5>TOPS Technologies Pvt. Ltd,Gujarat,India</h5>
                            <h5>Nov-2021 - April-2022</h5>
                            <ul>
                                <li>Working on an e-commerce project, performing CRUD operations.</li>

                                <li>Managed project architecture using the Model-View-Controller (MVC) design pattern.
                                </li>
                                <li> Utilized Python, Django, and MySQL technologies to streamline project development
                                </li>
                                <li>Developed and implemented an efficient MySQL database backend to store and manage
                                    data, resulting in improved data retrieval and processing times.

                                </li>
                            </ul>
                        </div><!-- Edn Resume Item -->


                        <h3 class="resume-title">Project</h3>
                        <div class="resume-item">
                            <h4><strong>E-commerce-website-Nice-Store</strong></h4>
                            <h5>July-2024 - August-2024</h5>
                            {#                            <p><em>Rewasoft solutions private limited,Gujarat,India </em></p>#}
                            <ul>
                                <li>• Designed and developed a fully functional e-commerce website using Django, a
                                    high-level Python web framework.

                                </li>

                                <li><strong>Django Class-Based Views:</strong> Utilized class-based views for a modular
                                    and maintainable
                                    code structure
                                </li>

                                <li><strong>Django FilterSet:</strong> Integrated filtering capabilities for efficient
                                    data retrieval.
                                </li>

                                <li><strong>Tableview Implementation:</strong> Enhanced UI through the implementation of
                                    table views
                                </li>
                            </ul>
                        </div><!-- Edn Resume Item -->

                        <div class="resume-item">
                            <h4><strong>E-Commerce site</strong></h4>
                            <p><em>TOPS Technologies Pvt. Ltd,Gujarat,India</em></p>
                            <h5>Feb-2022 - April-2022</h5>
                            <ul>
                                <li>I developed a comprehensive E-commerce website using the Django framework. The
                                    project includes the following components.
                                </li>

                                <li><strong>Product Management:</strong> Includes collection, category, size variations,
                                    images,pricing, and product descriptions.
                                </li>
                                <li><strong>User Types:</strong> Distinct interfaces for customers, sellers, and
                                    administrators.
                                </li>
                                <li><strong>Authentication:</strong> Robust system for secure logins/logouts,
                                    prioritizing data privacy.
                                </li>
                                <li><strong>Shopping Cart:</strong> Dynamic feature for adding products, managing
                                    quantities, and seamless checkout.

                                </li>
                                <li><strong>Payment Integration:</strong> Secure gateway for efficient online
                                    transactions.
                                </li>
                                <li><strong>Backend Development::</strong> Utilized function-based views in Django for
                                    dynamic website experience.

                                </li>
                            </ul>
                        </div><!-- Edn Resume Item -->

                    </div>


                </div>

            </div>

        </section><!-- /Resume Section -->